<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,100" rel="stylesheet">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Todos for today</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Done</th>
        <th>Urgent</th>
    </tr>
    </thead>
<tr>
    <td><p th:each="onetodo : ${todos}" th:text="${onetodo.id}"></p></td>
    <td><p th:each="onetodo : ${todos}" th:text="${onetodo.title}"></p></td>
    <td><p th:each="onetodo : ${todos}" th:text="${onetodo.done}"></p></td>
    <td><p th:each="onetodo : ${todos}" th:text="${onetodo.urgent}"></p></td>
</tr>
</table>
    <a href="/todo/list?isActive=true">Done</a>
    <a href="/todo/list?isActive=false">Not Done</a>
    <a href="/todo/">All Todos</a>
</body>
</html>