<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body>
<h1>Bank of Simba</h1>
<div th:if="${#lists.isEmpty(bankAccounts)}">
    <p>No clients in the bank!</p>
</div>
<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Animal Type</th>
        <th>King</th>
    </tr>
    </thead>
    <tr th:unless="${#lists.isEmpty(bankAccounts)}" th:each="BankAccount : ${bankAccounts}" th:object="${BankAccount}">
        <td><p th:text="${BankAccountStat.index + 1}"/></td>
        <td><p th:text="*{name}"/></td>
        <td><p th:text="*{balance} + '.00 Zebra'"/></td>
        <td><p th:text="*{animalType}"/></td>
        <td><p th:text="*{king}"/></td>
    </tr>
</table>
</body>
</html>