body {
    background-color: #c9ced8;
}
form {
    width: 300px;
    height: 300px;
    background-color: white;
    padding: 20px;
    margin: auto;

}

#submit {
    background-color: black;
    color: white;
    border-radius: 15px;
    padding: 10px 25px 10px 25px;
}
a {
    font-size: 11px;
    color: #6e727a;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight:100;
    text-transform: uppercase;
    color: gray;
}
div {
    padding-left: 30px;
}